body {
  margin: 1rem;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  ul {
    display: flex;
    align-items: center;
  }

  li {
    margin-bottom: 0px;
    padding: 1rem;
  }
}